body {
    font: 25px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #ddd;
}

a {
  color: #00B7FF;
  text-decoration: none;
}
#alert {
font-family: Arial, Helvetica, sans-serif;
font-size: 25px;
background-color: #ddd;
color: #333;
padding: 5px;
font-weight: bold;
text-align: center;
}
#map{
    width: 930px;
    height: 630px;
    margin: auto; width: 60%;
    padding: 10px;
}
#overlay{
	background: rgba(0,0,0,0.7);
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	text-align: center;
	color: white;
}
table {
  border-spacing: 1px;
}
