doctype html
html
  head
    title US Map
    script(src='/stylesheets/us-map/lib/raphael.js')
    link(href='/stylesheets/style.css',  rel='stylesheet')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    //- script(src="/stylesheets/us-map/scale.raphael.js")
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js')
    script(src='/stylesheets/us-map/example/color.jquery.js')
    script(src='/stylesheets/us-map/us-map.js')
    script(src='/javascripts/map.js')
  body
    input#field(type="text" autofocus="autofocus" placeholder="Enter Start State Abbr...")
    #alert Select Destination State
    #map
    #view
    
